.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-grey-2;
        font-size: 1.6rem;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        padding: 2rem 4.5rem;
        border-radius: 100rem;
        transition: all .3s;
    }

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &--white {

        background-color: $color-white;
    
        &::after {
            background-color: $color-white;
        }
    }

    &--tertiary {
        background-color: $color-secondary-1;
        color: $color-white !important; 

        &::after {
            background-color: $color-secondary-1;
        }
    }

    &::after {
        display: inline-block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 100rem;
        z-index: -1;
        transition: all .5s;
    }

    &:hover {
        box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        transform: translateY(-3px);
    }

    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
        transform: translateY(-2px);
    }
}

.btn-text {
    
    &,
    &:link,
    &:visited {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: right;
        text-decoration: none;
        color: $color-tertiary-1;
        display: inline-block;
        border-bottom: 1px solid $color-tertiary-1;
        padding: 1rem 1rem 1rem .5rem;
        cursor: pointer;
        transition: all .3s;
    }

    &:hover {
        border-bottom: none;
        background-color: $color-tertiary-1;
        color: $color-white;
        border-radius: 3px;
    }
}