// FORM SETTINGS

.form {
    width: 96rem; // 60%
    height: 45rem;
    background-color: #DDD;
    background-image: linear-gradient(105deg, rgba($color-tertiary-1, .75) 50%, transparent 50%) ,
    url(../img/camp-nou.jpg);
    background-size: cover;
    margin: 15rem auto 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3.5rem 0;
    box-sizing: border-box;
    position: relative;

    @include respond(break24) {
        width: 85rem;
        height: 40rem;
        background-size: cover; 
    }

    @include respond(tab-port) {
        width: 80rem;
        height: 40rem;
    }

    &__button {
        background-color: $color-white;
        color: $color-black;
        border: none;
        padding: 1.5rem 6.5rem;
        border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: inherit;

        @include respond(break475) {
            padding: 1rem 4rem;
            font-size: 1.6rem;
        }
    }
}

// FORM METHODS

.group-name {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 1.5rem;
    box-sizing: border-box;

    //background-color: #333;
    width: 60%;
    height: 8rem;

    &__input-name {
        width: 30rem;
        height: 4rem;
    }

    &__input-label {
        
        padding-left: 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-white;
    }
}

.group-email {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 1.5rem;
    box-sizing: border-box;

    //background-color: #333;
    width: 60%;
    height: 8rem;

    &__input-email {
        width: 30rem;
        height: 4rem;
    }

    &__input-label {

        padding-left: 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-white;
    }
}

.group-radio {
    //background-color: #333;
    width: 60%;
    height: 8rem;

    padding-left: 1.5rem;
    box-sizing: border-box;
}

.group-button {
    //background-color: #333;
    width: 60%;
    height: 4rem;
    box-sizing: border-box;
    padding-left: 1.5rem;

    display: flex;
    align-items: center;
}

// INPUT SETTING (HEIGHT, WIDTH, BORDER..ETC)

.input-setting {

    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 1.5rem;
    font-family: "maven pro";
    padding-left: 1rem;
    color: $color-grey-2;   

    &:focus {
        outline: none;
        font-family: "maven pro";
        padding-left: 1rem;
        color: $color-grey-2;
        border-bottom: 3px solid $color-secondary-1;
    }

    &:invalid {
        border-bottom: 3px solid $color-tertiary-1;
    }
}

// RADIO STYLING

.radio-selector-1 {
    
    display: inline-flex;
    //background-color: orangered;
    align-items: center;
    margin-bottom: 1rem;
    width: 25%;

    &__span {

        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 3px solid $color-white;
        position: relative;

        @include respond(break535) {
            border: 2px solid $color-white;
        }

        @include respond(break475) {
            border: 2px solid $color-white;
        }

        @include respond(break345) {
            border: 1px solid $color-white;
        }

        &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .4s;
        }
    }

    &__label {

        padding-left: 1rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-white;
        cursor: pointer;
    }

    &__radio {

        display: none;

        &:checked + span {
            &::before {
                opacity: 1;
            }
        }
    }
}

.radio-selector-2 {

    display: inline-flex;
    //background-color: orangered;
    align-items: center;
    width: 25%;

    &__span {

        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 3px solid #FFF;
        position: relative;

        @include respond(break535) {
            border: 2px solid $color-white;
        }

        @include respond(break475) {
            border: 2px solid $color-white;
        }

        @include respond(break345) {
            border: 1px solid $color-white;
        }

        &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: #FFF;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .4s;
        }
    }

    &__label {

        padding-left: 1rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-white;
        cursor: pointer;
    }

    &__radio {

        display: none;

        &:checked + span {
            &::before {
                opacity: 1;
            }
        }
    }
}


// UPSIDE DOWN CHANGES AT BREAKPOINT 345px

/*
.form {

    @include respond(break345) {

        width: 55rem;
        height: 60rem;
        //background-color: #dddddd;
        background-image: linear-gradient(to right bottom, rgba($color-tertiary-1, .95), rgba($color-secondary-1, .8)) ,
        url(../img/camp-nou.jpg);
        background-size: cover;
        background-position: center;
        margin: 15rem auto 0;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 3.5rem 0;
        box-sizing: border-box;
        position: relative;
    }

    &__button {

        @include respond(break345) {

            background-color: $color-white;
            color: $color-black;
            border: none;
            padding: 1.5rem 6.5rem;
            border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
            text-transform: uppercase;
            font-family: inherit;
            margin: 0 auto;
        }
    }
}

.group-button {
    
    @include respond(break345) {

        width: 100%;
        height: 4rem;
        box-sizing: border-box;
        padding-left: 0;

        display: flex;
        align-items: center;
    }
}

.group-radio {
    
    @include respond(break345) {

        //background-color: #333;
        width: 60%;
        height: 8rem;

        padding-left: 2rem;
        box-sizing: border-box;
    }
}

.radio-selector-1 {
    
    @include respond(break345) {

        display: flex;
        //background-color: orangered;
        align-items: center;
        margin-bottom: 2rem;
        width: 60%;
    }
}

.radio-selector-2 {
    
    @include respond(break345) {

        display: flex;
        //background-color: orangered;
        align-items: center;
        width: 60%;
    }
}
*/