.row-4 {
    display: grid;
    margin: 10rem auto;
    max-width: $grid-w;
    grid-gap: $gutter;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "col-1-of-4 col-2-of-4 col-2-of-4 col-3-of-4"
    "col-2-1-of-4 col-2-1-of-4 col-2-2-of-4 col-2-3-of-4";

    @include respond(break35-grid) {
        
        max-width: 125rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        grid-template-areas: 
        "col-1-of-4 col-2-of-4 col-3-of-4"
        "col-2-1-of-4 col-2-2-of-4 col-2-3-of-4";

        /*
        "col-1-of-4 col-2-of-4 col-2-of-4 col-3-of-4"
        "col-2-1-of-4 col-2-1-of-4 col-2-2-of-4 col-2-3-of-4";
        */
    }

    @include respond(break75-grid) {
        
        max-width: 100rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:
        "col-1-of-4 col-2-of-4"
        "col-3-of-4 col-2-1-of-4"
        "col-2-2-of-4 col-2-3-of-4";
        
        /*
        "col-1-of-4 col-2-of-4 col-3-of-4"
        "col-2-1-of-4 col-2-2-of-4 col-2-3-of-4";
        */
    }

    @include respond(break24) {
        max-width: 90rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:
        "col-1-of-4 col-2-of-4"
        "col-3-of-4 col-2-1-of-4"
        "col-2-2-of-4 col-2-3-of-4";
    }

    @include respond(break85) {
        max-width: 80rem;
    }

    .col-1-of-4 {
        grid-area: col-1-of-4;
    }

    .col-2-of-4 {
        grid-area: col-2-of-4;
    }

    .col-3-of-4 {
        grid-area: col-3-of-4;
    }

    .col-4-of-4 {
        grid-area: col-4-of-4;
    }

    // ROW 2

    .col-2-1-of-4 {
        grid-area: col-2-1-of-4;
    }

    .col-2-2-of-4 {
        grid-area: col-2-2-of-4;
    }

    .col-2-3-of-4 {
        grid-area: col-2-3-of-4;
    }

    /*

    .col-2-4-of-4 {
        grid-area: col-2-4-of-4;
    }

    */

    & > section {
        background-color: $color-grey-3;
        min-height: 20rem;
        padding: 1.5rem 1.5rem;
        position: relative;
        border-radius: 3px;
        box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);

        @include respond(break35-grid) {
            min-height: 20rem;
            padding: 1rem 1rem;
            border-radius: 2px;
        }
    }
}

.row-3 {
    display: grid;
    grid-gap: $vertical-gutter;
    max-width: 100rem;
    margin: 10rem auto 0;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "col-1-of-3"
    "col-2-of-3"
    "col-3-of-3";

    .col-1-of-3 {
        grid-area: col-1-of-3;
    }

    .col-2-of-3 {
        grid-area: col-2-of-3;
    }

    .col-3-of-3 {
        grid-area: col-3-of-3;
    }

    & > section {
        //background-color: orangered;
        height: 35rem;
    }

    @include respond(break24) {
        max-width: 90rem
    }

    @include respond(break85) {
        max-width: 80rem;
    }
}