.section-news {
    width: 100%;
    height: 80rem;
    background-color: $color-grey-3;
    position: relative;
    padding-top: 10rem;
    text-align: center;

    @include respond(break75-grid) {
        height: 100rem
    }
}

.section-tweets {
    width: 100%;
    height: 165rem;
    background-color: $color-grey-3;

    &__button-containter {
        width: 100%;
        text-align: center;
    }
}

.section-standings {

    width: 100%;
    height: 110rem;
    background-color: $color-white;

    &__container {
        width: 90rem;
        height: 65rem; // 12.5
        background-color: orangered;
        margin: 15rem auto 0;
        background-image: linear-gradient(to right, rgba($color-tertiary-1, .75), rgba($color-secondary-1, .95)),
        url(../img/camp-nou-standins.jpg);
        background-size: cover;
        background-position: bottom;
        border-radius: 5px;

        @include respond(break24) {
            width: 80rem;
            height: 55rem;
        }

        @include respond(break345) {
            width: 55rem;
            height: 55rem;
            border-radius: 2px;
        }
    }
}

.section-registration {
    width: 100%;
    height: 100rem;
    background-color: $color-grey-3;
    padding-top: 12rem;

    @include respond(break345) {
        height: 120rem;
    }
}