.col-1-of-3 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, rgba($color-tertiary-1, 1), rgba($color-secondary-1, 1));

    .images-section {
        width: 15rem;
        height: 15rem;
        //background-color: #FFF;
        border-radius: 50%;
        position: relative;
        outline-offset: .5rem;
        outline: .3rem solid $color-white;
        overflow: hidden;

        @include respond(break85) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(break475) {

            outline-offset: .5rem;
            outline: .35rem solid $color-white;            
        }
    }

    .content-section {
        width: 70%;
        height: 15rem;
        color: $color-white
        //background-color: #FFF;
    }

    &:hover {
        img {
            filter: blur(5px) brightness(70%);
        }

        .col-1-image-label {
            font-size: 1.6rem;
            opacity: 1;
            visibility: visible;
        }
    }
}

.col-2-of-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, rgba($color-tertiary-1, 1), rgba($color-secondary-1, 1));

    .images-section {
        position: relative;
        width: 15rem;
        height: 15rem;
        background-color: transparent;
        border-radius: 50%;
        outline-offset: .5rem;
        outline: .3rem solid $color-white;
        overflow: hidden;

        @include respond(break85) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(break475) {

            outline-offset: .5rem;
            outline: .35rem solid $color-white;            
        }
    }

    .content-section {
        width: 70%;
        height: 15rem;
        color: $color-white
        //background-color: #FFF;
    }

    &:hover {
        img {
            filter: blur(5px) brightness(70%);
        }

        .col-2-image-label {
            font-size: 1.6rem;
            opacity: 1;
            visibility: visible;
        }
    }
}

.col-3-of-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right, rgba($color-tertiary-1, 1), rgba($color-secondary-1, 1));

    .images-section {
        position: relative;
        width: 15rem;
        height: 15rem;
        //background-color: #FFF;
        border-radius: 50%;
        outline-offset: .5rem;
        outline: .3rem solid $color-white;
        overflow: hidden;

        @include respond(break85) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(break475) {

            outline-offset: .5rem;
            outline: .35rem solid $color-white;            
        }
    }

    .content-section {
        width: 70%;
        height: 15rem;
        color: $color-white;
        //background-color: #FFF;
    }

    &:hover {
        img {
            filter: blur(5px) brightness(70%);
        }

        .col-3-image-label {
            font-size: 1.6rem;
            opacity: 1;
            visibility: visible;
        }
    }
}


// Image setting


.col-1-image {
    width: 15rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter .3s;

    @include respond(break85) {
        width: 12rem;
    }
}

.col-2-image {
    width: 15rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter .3s;

    @include respond(break85) {
        width: 12rem;
    }
}

.col-3-image {
    width: 15rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter .3s;

    @include respond(break85) {
        width: 12rem;
    }
}

// Post Field

.content-section {
    padding: 0;
    font-size: 1.6rem;
    font-weight: 350;
    position: relative;

    @include respond(break85) {
        font-size: 1.4rem;
    }
}

.content-header {
    text-align: left;
    padding: 1rem 0;
    display: inline-block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: $color-white;
}

// Name of the poster

.col-1-image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.col-2-image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.col-3-image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}