.u-margin-top-small {margin-top: 2rem;}
.u-margin-top-medium {margin-top: 4rem;}
.u-margin-top-big {margin-top: 8rem;}
.u-margin-top-huge {margin-top: 12rem;}

.u-margin-bottom-small {margin-bottom: 2rem;}
.u-margin-bottom-meduim {margin-bottom: 4rem;}
.u-margin-bottom-big {margin-bottom: 8rem;}

.u-align-left-corner {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}

.u-align-center {
    text-align: center;
}