$color-primary-1: #e1f3fe;
$color-secondary-1: #32a2db;
$color-tertiary-1: #ff0068;


$color-white: #FFF;
$color-black: #000;
$color-black-2: #333;

$color-grey-1: #DDD;
$color-grey-2: #777;
$color-grey-3: #EEE;


$border-radius-small: 3px;


// GRID

$grid-w: 125rem; // 1140px;
$horizontal-gutter: 6rem;
$vertical-gutter: 8rem;
$gutter: 2rem;


// STANDINGS

$standings-font-size: 2rem;


// RESPONSIVE POINT 1

$grid-w-2: 100rem